
<div >
    <div class="log">
        <img src="../../../assets/images/dogs.png" class="polygon" alt="">
        <!-- <div>
           <img src="../../../assets/images/dogs.png" class="polygon" alt="">
        </div> -->
        <!-- <div>
            <h1 class="adi">ADI</h1>
            <p class="text-black platform">Platform For Data Integration</p>
        </div> -->
    </div>

    <div class="nav-elem">
        <ul  class="nav">
            <ng-template  ngFor let-navitem [ngForOf]="navItems " >    
      
                <li  *ngIf="!isHasChild(navitem)"
                    [ngClass]="{'nav-title': isTitle(navitem), 'nav-item': !(isTitle(navitem) || isDivider(navitem)), 'nav-divider': isDivider(navitem)}">
                    <span style="padding: 1rem;" class="title" *ngIf="isTitle(navitem)">{{navitem.name}}</span>
                    <span *ngIf="isDivider(navitem)"></span>
                    <ng-container>
                    <a   style="padding-right: 4.8rem ; width:100vw;" class="nav-link hover" *ngIf="!(isTitle(navitem) || isDivider(navitem))"routerLink="{{navitem.url}}"
                       routerLinkActive="active">
                        <i class="me-3 icon " [ngClass]="navitem.icon"></i> {{navitem.name}} 
                    </a> 
                    </ng-container>
                </li>
         
                <li  *ngIf="isHasChild(navitem)"  routerLinkActive="" class="">
                        <ng-container>
                    <a  class="hover"  style="padding-right:4.8rem; width:100vw;" (click)="sideToggle(navItems.indexOf(navitem))" class="nav-link hover  " role="button">
                        <i class="me-3 icon" [ngClass]="navitem.icon"></i> {{navitem.name}}
                        <!-- <i class="fa fa-angle-left " ></i> -->
                    </a>
                </ng-container>
                   
                    <ul class="nav-group-tems" *ngIf="navitem.show" >
                            
                        <li   style="list-style: none; line-height: 4rem;" class="nav-item hover " *ngFor="let cnavitem of navitem.children">
                                <ng-container>
                            <a   style=" line-height: 1.4rem;" class="nav-link" *ngIf="!(isTitle(cnavitem) || isDivider(cnavitem))" routerLink="{{cnavitem.url}}"
                               routerLinkActive="active">
                                <i class="me-2 icon" [ngClass]="cnavitem.icon"></i> {{cnavitem.name}}
                            </a>
                        </ng-container>
                    
                        </li>
                    
                    </ul>
                </li>
            </ng-template>
        </ul>
    </div>
    
</div> 

<!-- style="padding: 0rem 1.62rem ;" -->